/* CSS by Cleveland Williams */
/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1d3557;
  --news-flash: #e63946;
  --watchdog-white: #f1faee;
  --truth-text: #333;
  --story-subtitle: #457b9d;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: "Merriweather", serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* Skip Link Styles */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip:focus {
  position: static;
  width: auto;
  height: auto;
  border: 1px solid var(--news-flash);
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  text-decoration: none;
}

/* ///ADD/// Navigation Styles */
header {
  background-color: var(--blue-bulletin);
  color: var(--watchdog-white);
  padding: 5vw 4vw 4vw 4vw;
  margin-bottom: 5vw;
}
header nav {
  color: var(--watchdog-white);
  text-align: center;
  padding: 1vw 0;
}
header nav .menu-button {
  background-color: var(--news-flash);
  padding: 1.5vw 0;
  display: block;
  width: 100%;
  transition: background-color 0.5s;
}
header nav .menu-button:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  transition: background-color 0.5s;
}
header nav .menu {
  display: none;
}
header nav .menu li a {
  color: var(--watchdog-white);
  text-decoration: none;
}
header nav label {
  text-transform: uppercase;
}

/* ///ADD/// Global Layout Styles */
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5vw;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5vw;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5vw;
}

p {
  margin-bottom: 1.5vw;
  line-height: 1.1;
}

main {
  padding: 4vw;
}
main section {
  margin-bottom: 5vw;
}
main #intro blockquote {
  text-align: right;
  font-weight: bold;
  margin-top: 2vw;
}
main #intro p {
  line-height: 1.2;
}
main #videos section {
  background-color: var(--news-flash);
  padding: 3vw;
  margin: 3vw 1.5vw 3vw 1.5vw;
  display: grid;
  justify-items: center;
  box-shadow: 0 0 5px 3px rgba(22, 22, 22, 0.7);
  transition: transform 0.5s;
}
main #videos section p,
main #videos section h3 {
  justify-content: left;
}
main #videos section video {
  width: 100%;
  height: 100%;
}
main #videos section h3 {
  border-bottom: 1px solid var(--watchdog-white);
  line-height: 1.1;
}
main #videos section p {
  line-height: 1.3;
}
main #videos section:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform 0.5s;
}
main #articles section {
  border: 1px solid var(--story-subtitle);
  padding: 3vw;
  margin: 3vw 1.5vw;
  display: grid;
  justify-items: center;
  box-shadow: 0 0 5px 3px rgba(22, 22, 22, 0.7);
  transition: transform 0.5s;
}
main #articles section p,
main #articles section h3 {
  justify-content: left;
}
main #articles section video {
  width: 100%;
}
main #articles section h3 {
  border-bottom: 1px solid var(--story-subtitle);
  line-height: 1.1;
}
main #articles section p {
  line-height: 1.3;
}
main #articles section:hover {
  transform: scaleX(1.05) scaleY(1.05);
  transition: transform 0.5s;
}
main #form form {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--news-flash);
  padding: 3vw;
  margin: 3vw;
  box-shadow: 0 0 5px 3px rgba(22, 22, 22, 0.7);
}
main #form form div {
  display: grid;
  grid-template-columns: 1fr;
}
main #form form input[type=checkbox] {
  accent-color: var(--blue-bulletin);
}
main #form form label {
  margin-bottom: 1vw;
}
main #form form input {
  padding-bottom: 3vw;
  margin-bottom: 3vw;
}
main #form form legend {
  text-transform: uppercase;
}
main #form form fieldset {
  border: solid 1px var(--blue-bulletin);
  display: grid;
  grid-template-columns: 1fr 11fr;
  justify-items: left;
  margin-bottom: 3vw;
  padding: 1vw;
}
main #form form input[type=submit] {
  background-color: var(--blue-bulletin);
  padding-top: 3vw;
  color: var(--watchdog-white);
  text-transform: uppercase;
  transition: background-color 0.5s;
}
main #form form input[type=submit]:hover {
  background-color: var(--watchdog-white);
  color: var(--blue-bulletin);
  transition: background-color 0.5s;
}

footer {
  background-color: var(--blue-bulletin);
  padding: 5vw 4vw 4vw 4vw;
  text-align: center;
}
footer h2 {
  margin-bottom: 3vw;
  text-align: left;
}
footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 85%;
  margin-bottom: 4vw;
}
footer ul li {
  width: 75%;
  padding: 1vw;
  height: 70%;
  margin-bottom: 5vw;
  margin-top: 3vw;
}
footer ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  background-color: var(--news-flash);
  color: var(--watchdog-white);
  padding: 2vw;
  transition: background-color 0.5s;
}
footer ul li a:hover {
  background-color: var(--blue-bulletin);
  border: 1px solid var(--news-flash);
  transition: background-color 0.5s;
}

/* ///ADD/// Global Text Styles */
header p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
header nav {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

main #intro p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}
main #videos p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
main #articles p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
main #form {
  font-family: "Roboto", sans-serif;
}
main #form p {
  font-size: 0.8rem;
}
main #form form label {
  font-size: 0.8rem;
}
main #form form legend {
  font-size: 0.8rem;
}
main #form form input[type=submit] {
  font-size: 1.1rem;
  font-weight: 300;
}

footer ul {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
footer small {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

/* ///ADD/// medium styles 620px */
@media screen and (min-width: 620px) {
  header nav {
    background-color: var(--blue-bulletin);
  }
  header nav .menu {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 85%;
  }
  header nav .menu li {
    background-color: var(--news-flash);
    width: 75%;
    padding: 1vw;
    height: 70%;
  }
  header nav .menu li a {
    color: var(--watchdog-white);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
  }
  header nav .menu li:hover {
    background-color: var(--blue-bulletin);
    border: 1px solid var(--news-flash);
    transition: background-color 0.5s;
  }
  header nav .menu-button {
    display: none;
  }
  main #intro p {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
  }
  main #intro blockquote {
    text-align: center;
  }
  main #videos div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main #videos div p {
    margin-bottom: 1vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }
  main #videos div section {
    margin-bottom: 1.5vw;
    padding: 2vw;
  }
  main #articles div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main #articles p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 0.8rem;
  }
  main #articles section {
    padding: 2vw 2vw 0 2vw;
    margin: 2vw 1.5vw;
  }
  main #form form #textboxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main #form form #textboxes div {
    display: grid;
    grid-template-columns: 1fr;
  }
  main #form form #textboxes div input {
    width: 95%;
    padding-bottom: 2vw;
  }
  main #form form fieldset {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr 11fr;
  }
  main #form form input[type=submit] {
    margin-bottom: 1vw;
    padding: 2vw 0;
    font-size: 0.9rem;
  }
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 80%;
    margin-bottom: 1.5vw;
  }
  footer a {
    padding: 1vw;
  }
}
/* ///ADD/// large styles 920px */
@media screen and (min-width: 920px) {
  header {
    padding: 3vw 5vw 2vw 5vw;
    margin-bottom: 0;
  }
  header nav .menu {
    width: 59%;
  }
  header nav .menu li {
    background-color: var(--news-flash);
    width: 75%;
    padding: 1vw;
    height: 50%;
  }
  header nav .menu li a {
    color: var(--watchdog-white);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
  }
  header nav .menu-button {
    display: none;
  }
  main {
    padding: 5vw;
  }
  main #intro p {
    line-height: 1.5;
  }
  main #videos div section {
    margin-bottom: 1.5vw;
    padding: 1.5vw;
    margin: 2vw 1vw 1vw 1vw;
  }
  main #articles div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  main #articles section {
    padding: 1.5vw 1.5vw 1vw 1.5vw;
    margin: 2vw 1vw;
  }
  main #form form {
    padding: 2vw;
  }
  main #form form input {
    margin-bottom: 1.5vw;
  }
  main #form form fieldset {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr 11fr 1fr 11fr;
    padding-bottom: 0;
    margin-bottom: 2vw;
  }
  main #form form input[type=submit] {
    padding: 1vw 0;
    margin-bottom: 0;
  }
  footer {
    padding: 5vw;
  }
  footer ul {
    width: 50%;
  }
  footer ul li {
    margin-bottom: 3vw;
    margin-top: 1vw;
  }
  footer ul li a {
    background-color: var(--news-flash);
    text-decoration: none;
    color: var(--watchdog-white);
    padding: 1vw;
  }
}
/* ///ADD/// x-large styles 1024px */
@media screen and (min-width: 1024px) {
  header {
    padding: 2vw 3vw 1.5vw 3vw;
    margin-bottom: 0;
  }
  header nav .menu {
    width: 40%;
  }
  header nav .menu li {
    background-color: var(--news-flash);
    width: 65%;
    padding: 0.5vw;
    height: 50%;
  }
  header nav .menu li a {
    color: var(--watchdog-white);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 0.7rem;
  }
  header nav .menu-button {
    display: none;
  }
  main {
    padding-bottom: 2vw;
  }
  main #videos div section {
    margin-bottom: 1.5vw;
    padding: 1.5vw;
    margin: 1vw 1vw 0 1vw;
  }
  main #articles div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  main #articles section {
    padding: 1.5vw 1.5vw 0 1.5vw;
    margin: 2vw 1vw 0 1vw;
  }
  main #form {
    margin-bottom: 0;
  }
  main #form form fieldset {
    display: grid;
    grid-template-columns: 1fr 11fr 1fr 11fr 1fr 11fr 1fr 11fr;
    padding-bottom: 0;
  }
  footer {
    padding: 3vw 5vw;
  }
  footer h2 {
    margin-bottom: 0.5vw;
  }
  footer ul {
    width: 40%;
  }
  footer ul li {
    margin-bottom: 1vw;
    margin-top: 1vw;
  }
  footer ul li a {
    background-color: var(--news-flash);
    text-decoration: none;
    color: var(--watchdog-white);
    padding: 0.75vw;
  }
}
/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--truth-text);
    color: var(--watchdog-white);
  }
}
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--watchdog-white);
    color: var(--truth-text);
  }
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}

body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}

@media (prefers-reduced-motion: reduce) {
  header nav .menu-button {
    transition: background-color 10s;
  }
  header nav .menu-button:hover {
    transition: background-color 10s;
    background-color: var(--blue-bulletin);
  }
  header nav .menu ul li {
    transition: background-color 10s;
  }
  header nav .menu ul li:hover {
    transition: background-color 10s;
  }
  main #videos section {
    transition: transform 10s;
  }
  main #videos section:hover {
    transition: transform 10s;
  }
  main #articles section {
    transition: transform 10s;
  }
  main #articles section:hover {
    transition: transform 10s;
  }
  main #form form input[type=submit] {
    transition: background-color 10s;
  }
  main #form form input[type=submit]:hover {
    transition: background-color 10s;
  }
  footer ul li a {
    transition: background-color 10s;
  }
  footer ul li a:hover {
    transition: background-color 10s;
  }
}
/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
:has(#menu-toggle:checked) header nav .menu-button {
  margin-bottom: 0.3vw;
}
:has(#menu-toggle:checked) header nav .menu {
  display: block;
  background-color: var(--blue-bulletin);
}
:has(#menu-toggle:checked) header nav .menu li {
  padding: 1vw;
  border: 1px solid var(--blue-bulletin);
  background-color: var(--news-flash);
  transition: background-color 0.5s;
}
:has(#menu-toggle:checked) header nav .menu li:hover {
  background-color: var(--blue-bulletin);
  transition: background-color 0.5s;
  border: 1px solid var(--news-flash);
}/*# sourceMappingURL=style.css.map */